*
  margin 0
  padding 0
  box-sizing border-box
  font-family "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"
body
  overflow-x hidden
  color #363636
  background-color rgb(50,36,7)
img
  border 0
ul li
  list-style: none
a
  text-decoration none
  color #363636
i
  font-style normal
.clearfix:after
  content ""
  display table
  clear both
#indexPart
  background url(../images/bottombg.jpg) no-repeat
  background-size 100%
#copyright
  float:right
  color:#FAF8E3
  position:alsolute
  a
    color:#FAF8E3
#conPart
  background url(../images/contbg.jpg) no-repeat
  background-size 100%
  #conCopyright
    float:left
    color:#FAF8E3
    text-align:center
    position:absolute
    a
      color:#FAF8E3
  #fatherContent
    overflow hidden
    position:absolute
    #content
      overflow-y:auto
      #address
        position relative
        li
          color #363636
        .tel
          background url("../images/tel.png") no-repeat left center
        .qq
          background url("../images/qq.png") no-repeat left center
        .email
          background url("../images/email.png") no-repeat left center
        .address
          background url("../images/address.png") no-repeat left center
      #room
        position relative
        ul:first-of-type
          li
            color #363636
            float left
            width 45%
        ul:last-of-type
          li:hover
            border 1px solid rgb(255,96,0)
          li
            font-size 2rem
            border 1px solid transparent
            position relative
            strong
              display inline-block
              vertical-align top
            span
              display inline-block
              background-color rgb(221,221,221)

              i
                display inline-block
                background-color rgb(255,160,30)
                text-align right
                vertical-align top
                color blanchedalmond

          li:first-of-type
            font-size 2rem
            color #666666
            line-height 3rem
            height 3rem
            border 1px solid transparent
      #massage
        ul
          li
            border-bottom 1px solid #363636
            p
              padding 0.5rem
            p:last-child
              text-align right
        #massageForm
          display none
          .userM
            input
              background-color rgb(240,240,200)
              border-radius 0.3rem
              outline none
              color #363636
          textarea
            outline none
            resize none
            background-color rgb(240,240,200)
            border-radius 0.5rem
            color #363636
            overflow-x hidden
          .footerForm
            position relative
            input
              background-color #f0f0c8
              color #363636
              float left
              display inline-block
              border 0
              outline none
#granddadContent
  position:absolute
  .massageIpt
    position relative
    background-color #f0f0c8
    color #363636
    border 0
    outline none
    border-radius 0.3rem
#lift
  li
    border 1px solid transparent
  li:hover
    border 1px solid rgb(100,100,20)
  p
    span
      display inline-block
    span:first-of-type
      color #666666
    span:last-of-type
      font-weight bold





