*
  margin 0
  padding 0
  box-sizing border-box
  font-family "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"
body
  overflow-x hidden
  font-size 1.6rem
  color #363636
  background-color rgb(50,36,7)
img
  border 0
ul li
  list-style: none
a
  text-decoration none
  color #363636
i
  font-style normal
#indexPart
  background url(../images/bottombg.jpg) no-repeat
  background-size 100%
#news
  position absolute
  dt
    font-weight bold
    border-bottom 1px solid #44370C
  dd
    border-bottom 1px dashed #44370C
#affiche
  position absolute
#copyright
  float:right
  color:#FAF8E3
  position:alsolute
  a
    color:#FAF8E3

