* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}
body {
  overflow-x: hidden;
  font-size: 1.6rem;
  color: #363636;
  background-color: #322407;
}
img {
  border: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #363636;
}
i {
  font-style: normal;
}
#indexPart {
  background: url("../images/bottombg.jpg") no-repeat;
  background-size: 100%;
}
#news {
  position: absolute;
}
#news dt {
  padding: 0 0 0 1rem;
  font-weight: bold;
  line-height: 2rem;
  border-bottom: 1px solid #44370c;
  font-size: 1.6rem;
}
#news dd {
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px dashed #44370c;
  font-size: 1.4rem;
}
#affiche {
  position: absolute;
}
#affiche p {
  font-size: 1.6rem;
}
#copyright {
  float: right;
  color: #faf8e3;
  position: alsolute;
}
#copyright a {
  color: #faf8e3;
}
