*
  margin 0
  padding 0
  box-sizing border-box
  font-family "微软雅黑 Light"
  color #363636

body
  overflow-x hidden
  background-color  #fff
  //font-size 0.9rem

img
  border 0

ul li
  list-style: none

a
  text-decoration none
  color #363636
i
  font-style normal
#indexPart
  background url(../images/bottombg.jpg) no-repeat
  background-size 100%
#news
  position absolute
  dt
    padding 0 0 0 1rem
    font-weight bold
    line-height 2rem
    border-bottom 0.3px solid #44370C
    font-size 1.2rem
  dd
    height 2rem
    line-height 2rem
    border-bottom 1px dashed #44370C
    font-size 0.9rem
#affiche
  position absolute
  p
    font-size 1rem
#copyright
  float:right
  color:#FAF8E3
  position:alsolute
  a
    color:#FAF8E3
#conPart
  background url(../images/contbg.jpg) no-repeat
  background-size 100%
  #fatherContent
    overflow hidden
    position:absolute
    #content
      overflow-y:auto
      #address
        padding 1rem
        position relative
        p
          height 2rem
  #conCopyright
    float:left
    color:#FAF8E3
    text-align:center
    position:absolute
    a
      color:#FAF8E3
#hide
  height 100px
  width 100%
  position absolute
  top 0


